{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 15-07-2017 16:48
 # Licence: GPLv3 - General Public Licence version 3
 #}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
	<meta charset="{% block metaCharset %}utf-8{% endblock %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
	      content="{% block metaPageDescription %}{{ 'metatags.descriptions.home'|trans }}{% endblock %}">
	<meta name="keywords"
	      content="{% block metaKeywords %}{{ 'metatags.keywords.default'|trans }}{% endblock %}">
	<meta name="author" content="{% block metaAuthor %}Joris Rietveld{% endblock %}">
	<meta name="robots" content="{% block metaRobots %}index, follow{% endblock %}">
	<meta name="revisit-after" content="{% block metaRevisit %}3 days{% endblock %}">
	<title>{% block pageTitle %}{{ 'metatags.titles.default'|trans }}{% endblock %}</title>

	{# Include and minify the cascading style sheeds. #}
	{% block stylesheets %}
		{% stylesheets
		'third-party/font-awesome/css/font-awesome.min.css'
		'third-party/tether/dist/css/tether.min.css'
		'third-party/bootstrap/dist/css/bootstrap.min.css'
		'third-party/flag-icon-css/css/flag-icon.min.css'
		'bundles/app/css/main.css'
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}

	{% endblock %}
</head>
<body id="page-top">
{# The top navigation menu of the webpage. #}
{% block navigationBar %}
	<!-- Navigation -->
	<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
		        data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
		        aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarExample">
				<ul class="navbar-nav mr-auto">
					<li>
						<a class="nav-link text-white"
						   href="{{ path('default') }}#page-top">{{ 'navigation.home.title'|trans }}</a>
					</li>
					{% block navigationHomeSubmenu %}
					{% endblock %}

					<li class="nav-item">
						<a class="nav-link text-white"
						   href="{{ path('default') }}">{{ 'navigation.editions.title'|trans }}</a>
					</li>
					{% block navigraionEditionsSubmenu %}
					{% endblock %}

					<li class="nav-item">
						<a class="nav-link text-white"
						   href="{{ path('default') }}">{{ 'navigation.bands.title'|trans }}</a>
					</li>
					{% block navigationBandsSubmenu %}
					{% endblock %}
				</ul>

				<div class="navbar-nav">
					{# Language switcher #}
					{% for locale in locales %}
						<a class="btn btn-lg flag-icon-background flag-icon-{{ locale == 'en' ? 'gb' : locale }} m-1 btn-language"
						   href="{{ path(app.request.attributes.get("_route"), app.request.query.all|merge({"_locale": locale})) }}">
						</a>
					{% endfor %}
					{#<a class="btn btn-lg flag-icon-background flag-icon-nl m-1 btn-language" href="/nl{{ app.request.getPathInfo() }}"></a>
					<a class="btn btn-lg flag-icon-background flag-icon-de m-1 btn-language" href="/de{{ app.request.getPathInfo() }}"></a>
					<a class="btn btn-lg flag-icon-background flag-icon-gb m-1 btn-language" href="/en{{ app.request.getPathInfo() }}"></a>#}
					<a class="btn m-1 btn-info"
					   href="{{ path('login') }}">{{ 'navigation.autentication.login.button'|trans }}</a>
				</div>
			</div>
		</div>
	</nav>
{% endblock %}

{# The header of the webpage. #}
{% block pageHeader %}
	<header class="bg-primary header-standard">
		{% block pageHeaderTitleHolder %}
			<div class="container text-center">
				<h1 class="title-font">
					{% block pageHeaderTitle %}
						{{ 'home.header.title'|trans }}
					{% endblock %}
				</h1>
				{% block pageHeaderSubtitle %}
				{% endblock %}
			</div>
		{% endblock %}
	</header>
{% endblock pageHeader %}

{# The main content of the webpage.#}
{% block pageContent %}

{% endblock %}
{{ dump(app) }}
{{ dump( app.request.getLocale() ) }}
{# The footer of the webpage. #}
{% block pageFooter %}
	<!-- Footer -->
	<footer class="py-5 bg-inverse">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Joris Rietveld 2017</p>
		</div>
		<!-- /.container -->
	</footer>
{% endblock %}

{# Load the javasripts at the botom of the page to improve the load speed. #}
{% block javascripts %}
	{% javascripts
	'third-party/jquery/dist/jquery.min.js'
	'third-party/tether/dist/js/tether.min.js'
	'third-party/jquery.easing/js/jquery.easing.min.js'
	'third-party/bootstrap/dist/js/bootstrap.min.js'
	'@AppBundle/Resources/public/js/*'
	output='js/main.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
</body>
</html>
