{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 16-07-2017 12:58
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% extends "@App/design/layout/scroller-layout.html.twig" %}

{% block title %}AppBundle:Home:home{% endblock %}

{% block pageHeaderTitleHolder %}
	<div class="">
		<h1 class="row header-title">
			<span class="col-lg-12 header-title-container">Wedderheide</span>
			<span class="col-lg-12 header-title-container"> Paradise</span>
		</h1>
	</div>
{% endblock %}

{% block pageContent %}
	{% embed '@App/design/modules/scroller-section.html.twig' with { 'sectionId': 'about', 'sectionTitleKey': 'home.content.title.about' } %}
		{% block sectionContent %}
			<p>
				{{ 'home.content.text.about'|trans }}
			</p>
		{% endblock %}
	{% endembed %}

	{% embed '@App/design/modules/scroller-section.html.twig' with { 'sectionId': 'route', 'sectionTitleKey': 'home.content.title.route' } %}
		{% block sectionContent %}
			{% image '@AppBundle/Resources/public/images/development/mapPlaceholder.png' %}
			<img src="{{ asset_url }}" alt="Example"/>
			{% endimage %}
		{% endblock %}
	{% endembed %}

	{% embed '@App/design/modules/scroller-section.html.twig' with { 'sectionId': 'about', 'sectionTitleKey': 'home.content.title.about' } %}
		{% block sectionContent %}
			{{ form_start(contactForm) }}
			{{ form_widget( contactForm ) }}
			<button type="submit"
			        class="btn btn-info col-12">{{ 'home.content.form.contact.send'|trans }}</button>
			{{ form_end(contactForm ) }}
		{% endblock %}
	{% endembed %}


	{#<section id="about" class="page-section mt-2 section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h1>{{ 'home.content.title.about'|trans }}</h1>

				</div>
			</div>
		</div>
	</section>

	<section id="route" class="bg-faded page-section section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h2>{{ 'home.content.title.route'|trans }}</h2>
					{% image '@AppBundle/Resources/public/images/development/mapPlaceholder.png' %}
					<img src="{{ asset_url }}" alt="Example"/>
					{% endimage %}
				</div>
			</div>
		</div>
	</section>

	<section id="contact" class="page-section section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h2>{{ 'home.content.title.contact'|trans }}</h2>
					{{ form_start(contactForm) }}
					{{ form_widget( contactForm ) }}
					<button type="submit"
					        class="btn btn-info col-12">{{ 'home.content.form.contact.send'|trans }}</button>
					{{ form_end(contactForm ) }}
				</div>
			</div>
		</div>
	</section>#}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
