{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 16-07-2017 12:58
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% extends "@App/design/layout/scroller-layout.html.twig" %}

{% block header %}
	{% embed '@App/design/modules/scroller-header.html.twig' %}
		{% block pageHeaderTitleHolder %}
			<div class="">
				<h1 class="row header-title">
					<span class="col-lg-12 header-title-container">Wedderheide</span>
					<span class="col-lg-12 header-title-container"> Paradise</span>
				</h1>
			</div>
		{% endblock %}
	{% endembed %}
{% endblock header %}

{% block pageContent %}

	{% embed '@App/design/modules/scroller-section.html.twig' with { 'sectionId': 'about', 'sectionTitleKey': 'home.content.title.about' } %}
		{% block sectionContent %}
			<p>
				{{ 'home.content.text.about'|trans }}
			</p>
		{% endblock %}
	{% endembed %}

	{% embed '@App/design/modules/scroller-section.html.twig' with { 'sectionId': 'route', 'sectionTitleKey': 'home.content.title.route' } %}
		{% block sectionContent %}
			{#<div id="map"></div>#}
			<h4>Wordt gemaakt...</h4>
			<p>Deze functionalitijd zal binnenkort worden toegevoegd.</p>
		{% endblock %}
	{% endembed %}

	{% embed '@App/design/modules/scroller-section.html.twig' with { 'sectionId': 'contact', 'sectionTitleKey': 'home.content.title.contact' } %}
		{% block sectionContent %}
			{{ form_start(contactForm) }}
			{{ form_widget( contactForm ) }}
			<button type="submit"
			        class="btn btn-info col-12">{{ 'home.content.form.contact.send'|trans }}</button>
			{{ form_end(contactForm ) }}
		{% endblock %}
	{% endembed %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
