{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 16-07-2017 12:58
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% extends "@App/template.html.twig" %}

{% block title %}AppBundle:Home:home{% endblock %}

{% block navigationHomeSubmenu %}
	<li class="nav-item">
		<a class="nav-link" href="{{ path('home') }}#about">{{ 'navigation.home.submenu.about'|trans }}</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="{{ path('home') }}#route">{{ 'navigation.home.submenu.route'|trans }}</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="{{ path('home') }}#contact">{{ 'navigation.home.submenu.contact'|trans }}</a>
	</li>
{% endblock %}

{% block pageHeaderTitleHolder %}
	<div class="container-fluid">
		<h1 class="header-title">
			<span class="header-title-container">Wedderheide</span>
			<span class="header-title-container"> Paradise</span>
		</h1>
	</div>
{% endblock %}

{% block pageContent %}
	<section id="about page-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h2>{{ 'home.content.title.about'|trans }}</h2>
					<p>
						{{ 'home.content.text.about'|trans }}
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="route" class="bg-faded page-section">
		<div class="container-fluid">
			<div class="row">

			</div>
		</div>
		</div>
	</section>

	<section id="contact" class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h2>{{ 'home.content.title.contact'|trans }}</h2>
					{{ form_start(contactForm) }}
					{{ form_widget( contactForm ) }}
					<button type="submit"
					        class="btn btn-info col-12">{{ 'home.content.form.contact.send'|trans }}</button>
					{{ form_end(contactForm ) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
