{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 06-08-2017 22:27
 # Licence: GPLv3 - General Public Licence version 3
 #}

{# This macro renders an item for an horizontal menu item #}
{% macro menuItem( routeKey, displayText, isMainItem ) %}
	<li>
		<a class="nav-link {{ isMainItem ? 'text-white' }}"
		   href="{{ path( routeKey ) }}">{{ displayText|trans }}</a>
	</li>
{% endmacro %}

{# This macro rendes menu items based on an multidimentional array with structure: $routeKey => [ displayText => $translationKey, isMainItem => $boolean ]] #}
{% macro menuItems( menuLinks ) %}
	{% import _self as generate %}
	{% for routeKey, link in menuLinks %}
		{{ generate.menuItem( routeKey, link.displayText, link.isMainItem ) }}
	{% endfor %}
{% endmacro %}

{# This macro simplyfies the path( route, options ) function so you can call it like locPath( someRoute, 'nl' #}
{% macro locPath( route, locale, options ) %}
	{{ path( route, options|merge( locale ? {"_locale": locale } : {} )) }}
{% endmacro %}

{# This macro renders the cheance localization buttons based on localization settings defined in app/config.ymo under the paramethers key #}
{% macro localizationButtons( context ) %}
	{% for locale in context.locales %}
		<a class="btn btn-lg flag-icon-background m-1 btn-language flag-icon-{{ locale == 'en' ? 'gb' : locale }}"
		   href="{{ path( context.app.request.attributes.get("_route"), context.app.request.query.all|merge({"_locale": locale})) }}">
		</a>
	{% endfor %}
{% endmacro %}