{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 06-08-2017 22:27
 # Licence: GPLv3 - General Public Licence version 3
 #}

{# This macro renders an item for an horizontal menu item #}
{% macro menuItem( routeName,  text, isMainItem ) %}
	<li>
		<a class="nav-link {{ isMainItem ? 'text-white' }}" data-menuanchor="home-anchor" href="{{ path(link.path) }}#page-top">{{ link.text|trans }}</a>
	</li>
{% endmacro %}

{% macro menuItems( links ) %}
	{% import _self as generators %}
	{% for link in links %}
		{{ generators.generateMenuItem( link.path, link.text, link.isMainItem ) }}
	{% endfor %}
{% endmacro %}

{% macro localizationButtons( locales ) %}
	{% import _self as generators %}
	{% for locale in locales %}
		<a class="btn btn-lg flag-icon-background m-1 btn-language flag-icon-{{ locale == 'en' ? 'gb' : locale }}"
		   href="{{ path(app.request.attributes.get("_route"), app.request.query.all|merge({"_locale": locale})) }}">
		</a>
	{% endfor %}
{% endmacro %}