{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 06-08-2017 22:45
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% import '@App/macros/generators.html.twig' as generate %}

<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">

	{# Button for expanding the menu on small devices #}
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
	        data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
	        aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	{# The items rendered in the menu #}
	<div class="container">
		<div class="collapse navbar-collapse" id="navbarExample">
			<ul class="navbar-nav mr-auto">
				{{ renderedMenuLinks|raw }}
			</ul>

			<div class="navbar-nav">
				{# Render the localization switch links based on the current route and the configured localizations in app/config.yml. #}
				{{ generate.localizationButtons( _context ) }}
				<button class="btn m-1 btn-info" data-toggle="modal" data-target="#authenticationModel">{{ 'navigation.autentication.login.button'|trans }}</button>
			</div>
		</div>
	</div>
</nav>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="authenticationModel" aria-labelledby="authenticationModel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="loginPane" href="#authentication/login" role="tab">
							{{ 'navigation.autentication.login.button'|trans }}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="registerPane" href="#authentication/register" role="tab">
							{{ 'navigation.autentication.register.button'|trans }}
						</a>
					</li>
				</ul>
			</div>
			<div class="modal-body">
				<div class="tab-content">
					<div class="tab-pane active" id="home" role="tabpanel">

					</div>
					<div class="tab-pane" id="profile" role="tabpanel">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
